# Node.js
**/node_modules

# dotenv files
.env.*

# OS junk
.DS_Store

# ─── React client ───────────────────────────────────────────

# Logs
react-client/logs
react-client/*.log
react-client/npm-debug.log*
react-client/yarn-debug.log*
react-client/yarn-error.log*
react-client/pnpm-debug.log*
react-client/lerna-debug.log*

# Dependencies and builds
react-client/node_modules
react-client/dist
react-client/dist-ssr
react-client/*.local

# Editor directories and files
react-client/.vscode/*
react-client/.idea
react-client/.DS_Store
react-client/*.suo
react-client/*.ntvs*
react-client/*.njsproj
react-client/*.sln
react-client/*.sw?
